<!-- web/components/aside.html -->
{{define "Aside"}}
<aside class="aside">
    <div class="overlay"></div>
    <nav class="navigation-container">
        <a href="/"><img src="/web/static/images/home.svg" alt=""> <span>Home</span></a>
        {{ if .User.IsLoged }}
        <a href="/my_posts"><img src="/web/static/images/post.svg" alt=""> <span>My Posts</span></a>
        <a href="/liked_posts"><img src="/web/static/images/loved.svg" alt=""> <span>Liked Posts</span></a>
        <a href="/create_post"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                width="24px">
                <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
            </svg>
            <span>Add New Post</span></a>
        {{ end }}
    </nav>
    {{template "Filter" .Categories }}
    <input type="checkbox" id="menu-toggle" hidden>
</aside>
{{end}}