{{define "AvatarContainer"}}
<div class="avatar-container">
    <label for="user_menu_toggle" class="avatar">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlOLBRK-3wEFFeCojWlHou4nooggl5iI2PJQ&s"
            alt="user avatar">
    </label>
    <div class="user_menu">
        <div> {{.UserName}}
            <br> {{.UserEmail}}
        </div>
        <hr class="seperator">
        </hr>
        <div>
            <a href="/auth/logout">
                <img src="/web/static/images/logout.svg" alt="">
                <span>
                    Log Out
                </span>
            </a>
        </div>
        <input type="checkbox" id="user_menu_toggle" hidden>
    </div>
</div>
{{end}}