{{define "Comments"}}
<div class="reaction_container">
    <button type="button" popovertarget="comment_form_container">
        <svg class="reaction_icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
            width="24px">
            <path
                d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z" />
        </svg>
        <p>
            <span class="txt-light">{{ .TotalComments }}</span>
        </p>
    </button>
    <div id="comment_form_container" hidden>
        <form action="/api/add_post_comment" method="post">
            <div class="form-grp">
                <Label for="comment">Comment: </Label>
                <textarea name="comment" id="comment" placeholder="Add your comment here."></textarea>
            </div>
            <div class="form-actions">
                <button type="reset">Reset</button>
                <button type="submit">Comment</button>
            </div>
        </form>
    </div>
</div>
{{end}}