<!-- post Form -->
{{define "CreatePostForm"}}
    <form class="button-container" method="post" action="/create_post">
        <div class="form-grp">
            <label for="postTitle">Post Title</label>
            <input type="text" id="postTitle" name="postTitle"> 
        </div>
        
        <div class="form-grp">
            <label for="postTitle">Post Title</label>
            <input type="text" id="postTitle" name="postTitle"> 
        </div>
        
        <div class="form-grp">
            <label for="postTitle">Post Title</label>
            <input type="text" id="postTitle" name="postTitle"> 
        </div>
        
        <div class="form_actions">
            <button type="submit">Create Post</button>
            <button type="reset">Cancell</button>
        </div>
    </form>
{{end}}