<!-- web/components/header.html -->
{{define "Header"}}
<header class="header">
    <div class="header-left flex">
        <label for="menu-toggle">
            <img src="/web/static/images/closeIcon.svg" alt="X">
        </label>
        <h1 class="logo"><a href="/">Forum</a></h1>
    </div>
    <div class="header-right">
        {{ if .IsLoged }}
        <a href="/create_post">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                    <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                </svg>
                <span>Add New Post</span>
            </button>
        </a>
        {{template "AvatarContainer"}}
        {{ else }}
        <div class="actions">
            <a href="/login"><button popovertarget="login-form" class="primaryBtn">Log in</button></a>
        </div>
        {{ end }}
        <!----------------------------------------------------------- -->
    </div>
</header>
{{end}}