<!-- web/components/header.html -->
{{define "Header"}}
<header class="header">
    <div class="logo">Forum</div>
    <div class="header-right">

        <!--todo: show if user not sign in  -->
        <div class="actions">
            <a  ><button popovertarget="register-form" class="secondaryBtn">Register</button></a>
            <a ><button  popovertarget="login-form" class="primaryBtn">Sign in</button></a>
        </div>
        <!-- ------------------------------ -->

        <!--todo : show if user is log in  -->
        <a class="primaryBtn" href="/create_Post"><button>New Post</button></a>
        {{template "AvatarContainer"}}
        <!----------------------------------------------------------- -->
    </div>
</header>
{{end}}