<!-- web/components/form.html -->
<!-- components/form.html -->
<!-- components/sign-in.html -->
{{define "LoginForm"}}
<dialog id="login-form" popover=manual>
    <form class="login-form-container" method="post" action="/log_in">
        <button type="button" type="reset" class="close-btn" popovertarget="login-form" popovertargetaction="hide">
            <span aria-hidden=”true”><img src="/static/images/closeIcon.svg" alt=""></span>
            <span class="sr-only">close</span>
        </button>
        <div class="form-grp">
            <label for="userName"><img src="/static/images/person.svg" alt=""><span>User Name:</span></label>
            <input type="text" id="userName" name="userName" placeholder="Enter your user name...">
        </div>
        <div class="form-grp">
            <label for="userPassword"><img src="/static/images/lock.svg" alt=""><span>Password:</span></label>
            <input type="password" id="userPassword" name="userPassword" placeholder="Enter your password...">
        </div>
        <hr class="seperator">
        <div class="form_actions">
            <button class="secondaryBtn" type="reset">Reset</button>
            <button class="primaryBtn" type="submit">Log in</button>
        </div>
    </form>
</dialog>
{{end}}