{{define "PostsContainer"}}
{{ range .Posts }}
<div class="post_card">
    <div class="post_header">
        <div class="post_creator_info_container">
            {{template "avatar" }}
            <div class="post_creator_info">
                <p>{{.PostCreator}}</p>
                <p class=" txt-light txt-sm">{{.PostCreatedAt}}</p>
            </div>
        </div>
        {{template "TagsList" .Categories}}
    </div>
    <div class="post_body">
        <a href="/{{.PostId}}">
            <h3>{{.PostTitle}}</h3>
        </a>
        <p>
            {{ .PostContent }}
        </p>
    </div>
    <div class="post_footer">
        <div class="reactions_container">
            {{template "Likes" . }}
            {{template "Dislikes" . }}
            {{template "Comments" . }}
        </div>
    </div>
</div>
{{ end }}
{{end}}