<form class="create_post_form" action="/create_post" method="post">
    <div class="form-grp">
        <label for="postTitle">
            <span>Add Post Title:</span>
        </label>
        <input type="text" id="postTitle" name="postTitle" placeholder="Post Title">
    </div>

    <div class="form-grp">
        <label for="postBody">
            <span>Add Post Title:</span>
        </label>
        <textarea name="postBody" id="postBody" placeholder="Share your knowledge"></textarea>
        
    </div>

    <div class="form-grp">
        
    </div>

    <div class="form_actions">
        <button class="secondaryBtn" type="reset">Reset</button>
        <button class="primaryBtn" type="submit">Log in</button>
    </div>
</form>