{{define "PostCard"}}
    <div class="post_card">
        <div class="post_header">
            <div class="post_creator_info_container">
                {{template "avatar"}} 
                <div class="post_creator_info">
                    <p>user_name</p>
                    <p class="timestamp txt-light txt-sm">1 day ago</p> 
                </div>
            </div>
            <div class="post_meta_data">
                <a href="/"><h2>Lorem ipsum dolor sit amet.</h2></a>
                {{template "TagsList"}} 
            </div>
        </div>
        <div class="post_body">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam numquam est a eius quaerat eaque accusantium laboriosam repudiandae obcaecati labore...
            </p>
        </div>
        <div class="post_footer">
            <div class="reactions_container">
                {{template "Likes"}}
                {{template "Dislikes"}}
                {{template "Comments"}}
            </div>
        </div>
    </div>
{{end}}