<!-- web/templates/createpost.html -->
<!-- web/templates/home.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/shared.css">
    <link rel="stylesheet" href="/static/css/createpost.css">
</head>

<body>
    <!-- web/components/header.html -->
    {{template "Header" .User }}
    {{template "Aside" .}}
    <main class="create_post_section">
        <h2>Create New Post </h2>
        <form method="post" action="/api/add_post">
            <label>Categories: </label>
            <div class="category_list">
                {{ range .Categories }}
                <div>
                    <input type="checkbox" id="{{ .CatergoryName }}" name="post-categorie" value="{{ .CatergoryName }}"
                        hidden>
                    <label for="{{ .CatergoryName }}"> {{ .CatergoryName }} </label>
                </div>
                {{ end }}
            </div>
            </div>
            <div class="form-grp-title">
                <label for="postTitle">Title</label>
                <input class="title-input" type="text" id="postTitle" name="postTitle" placeholder="Shoose a tit">
            </div>
            <div class="form-grp-body">
                <label for="postBody">Content</label>
                <textarea name="postBody" id="postBody" placeholder="Share your knowledg here."></textarea>
            </div>
            <div class="form_actions">
                <button type="reset">Cancel</button>
                <button type="submit">Create Post</button>
            </div>
        </form>
    </main>
    {{template "Footer"}}
</body>
</html>