<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="web/static/css/styles.css">
</head>

<body>
    {{template "Header" .User }}
    <main class=" flex main register-login-section">
        <h2>Connect to your account :</h2>
        <form class="login-form-container" method="post" action="/auth/log_in">
            <div class="form-grp">
                <label for="userName"><img src="/web/static/images/person.svg" alt=""><span class="txt-light">User Name.</span></label>
                <input type="text" id="userName" name="userName" placeholder="Enter your user name...">
                
            </div>
            <div class="form-grp">
                <label for="userPassword"><img src="/web/static/images/lock.svg" alt=""><span class="txt-light">Password.</span></label>
                <input type="password" id="userPassword" name="userPassword" placeholder="Enter your password...">
                
            </div>
            <hr class="seperator">
            {{if .FormError}}
                <p class="form-error">{{.FormError}}</p>
            {{end}}
            <div class="form_actions">
                <button class="secondaryBtn" type="reset">Reset</button>
                <button class="primaryBtn" type="submit">Log in</button>
            </div>
            <div class="alternative-action txt-light txt-sm">Don't have an account ?<a href="/register"> Register.. </a></div>
        </form>
    </main>
</body>
</html>