:root {
    /** font variables */
    --global-font-family: Verdana, sans-serif;
    --global-font-size: 0.8rem;
    --primary-title-size: 2rem;

    /** layout  */
    --padding-sm: 10px;
    --padding-md: 25px;
    --padding-lg: 50px;

    /** color variables */
    --bg-color-gray: #F2F2F2;
    --bg-color-light-gray: #ccc;
    --color-primary: #C56D48;
    --color-dark-navy: #394349;
    --main-text-color: var(--color-dark-navy);
    --light-text-color: #8A98A4;
    --color-dark: #17202A;
    /* --color-secondary: #779fa1;
    --color-warning: #e28413;
    --color-danger: #ff6542; */
    /** border vaiables */
    --border-radius-sm: 3px;
    --border-radius-md: 10px;
    --border-radius-round: 50%;
}

.create_post_section {
    min-width: 300px;
    width: 60%;
    /* max-width: 600px; */
    margin-inline: auto;
    padding: 2rem 0;
}

.create_post_section h2 {
    margin-bottom: 3rem;
}

.create_post_section form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-grp {
    display: flex;
    align-items: start;
}

.form-grp  > label {
    width: 30%;
}

.create_post_section form  .form-grp > label {
    /* border: solid; */
    padding: 3px 10px ;
    font-size: 18px;
    font-weight: 600;
}

.create_post_section form .form-grp input[type="text"],
textarea {
    color: var(--light-text-color);
    font-size: 16px;
    padding: .8rem;
    outline: none;
    border: none;
    background-color: var(--color-dark-navy);
    width: 100%;
}

.category_list label {
    padding: 3px 10px ;
    cursor : pointer;
    border: solid 1px ;
    border-radius: 10px;
}

.category_list {
    justify-content: center;
    padding: 2px ;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
}
.title-input {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #80808070;
    border: none;
}

.category_list > div:has(input:checked) label {
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.create_post_section textarea {
    resize: vertical;
    height: 250px;
}

.create_post_section .form_actions {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.create_post_section .form_actions button {
    padding: 10px 32px;
}

.create_post_section .form_actions button[type="reset"] {
    background: none;
    color: var(--bg-color-light-gray);
    border: solid 2px;
}