:root {
    /** font variables */
    --global-font-family: Verdana, sans-serif;
    --global-font-size: 0.8rem;
    --primary-title-size: 2rem;

    /** layout  */
    --padding-sm: 10px;
    --padding-md: 25px;
    --padding-lg: 50px;

    /** color variables */
    --bg-color-gray: #F2F2F2;
    --bg-color-light-gray: #ccc;
    --color-primary: #C56D48;
    --main-text-color: #394349;
    --light-text-color: #8A98A4;
    --border-color : #17202A;
    /* --color-secondary: #779fa1;
    --color-warning: #e28413;
    --color-danger: #ff6542; */

    /** border vaiables */
    --border-radius-sm: 3px;
    --border-radius-md: 10px;
    --border-radius-round: 50%;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color);
}



body {
    width: 100vw;
    height: 100vh;
    background: var(--bg-color-gray);
    color: var(--main-text-color);
    gap: .3rem;
    padding: 0.1em;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "header  header"
        "aside  main"
        "footer   footer";
}

.header,.aside,.main,.footer {
    padding: var(--padding-sm);
    background: var(--bg-color-light-gray);

}

.header {
    grid-area: header;
    display: flex;
}

.aside {
    grid-area: aside;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}


.aside > nav {
    display: flex;
    flex-direction: column;

}




@media (max-width: 576px) {
    body {
        grid-template-areas:
            "header" "sidebar" "main" "footer";
    }
}
@media only screen and (max-width: 980px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content auto min-content;
        grid-template-areas:
            "header" "aside" "main" "footer";
    }

    .aside  {
        .navigation-container {
            display: flex;
            border: solid;
        }
        /* flex-direction: column; */
    }
}


/* @media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }  */