@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("header.css");
@import url("aside.css");
@import url("login.css");

:root {
    /** font variables */
    --global-font-family: Verdana, sans-serif;
    --global-font-size: 0.8rem;
    --primary-title-size: 2rem;
    --header-height: 80px;

    /** layout  */
    --padding-sm: 10px;
    --padding-md: 25px;
    --padding-lg: 50px;

    /** color variables */
    --color-light: #F2F2F2;
    --color-dark: #17202A;
    --color-primary: #C56D48;
    --color-dark-navy: #394349;
    --main-text-color: var(--color-dark-navy);
    --light-text-color: #8A98A4;
    /* --color-secondary: #779fa1;
    --color-warning: #e28413;
    --color-danger: #ff6542; */

    /** border vaiables */
    --border-radius-sm: 3px;
    --border-radius-md: 10px;
    --border-radius-round: 50%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}

.txt-light {
    color: var(--light-text-color);
}

.txt-sm {
    font-size: 12px;
}

.flex {
    display: flex;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

body {
    /* border: solid red; */
    background: var(--color-dark) !important;
    color: var(--color-light) !important;
    height: 100vh;
    border: solid red;
    grid-template-columns: 300px auto;
    grid-template-rows: 80px auto;
    display: grid;
}


.header,
.aside,
.footer {
    background: var(--color-dark);
    color: var(--bg-color-light-gray);
}

.header {
    grid-column: 1/3;
    padding: 1rem;
    position: sticky;
    top: 0px;
    left: 0;
}

.aside {
    grid-row: 2/3;
    overflow: auto;
}

.main {
    overflow: auto;
}

button {
    border: none;
    background-color: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.primaryBtn {
    padding: 10px 36px;
    background-color: var(--color-primary);
    color: var(--color-light);
    border-radius: var(--border-radius-sm);
    border: solid red;
}

.secondaryBtn {
    padding: 10px 36px;
    background: transparent;
    color: var(--color-primary);
    border-radius: var(--border-radius-sm);
}


.avatar {
    border: solid 1px var(--color-primary);
    width: 50px;
    height: 50px;
    display: grid;
    overflow: hidden;
    border-radius: var(--border-radius-round);

    img {
        width: 100%;
    }
}

.avatar-container {
    /* border: solid var(--color-primary); */
    width: max-content;
    /* background: var(--color-dark-navy); */
    padding: 10px 0;
    position: relative;
}



.user_menu {
    position: absolute;
    color: var(--bg-color-light-gray);
    width: 250px;
    background-color: #080506;
    top: 80px;
    left: calc(95% - 250px);
    height: 150px;
}

.avatar-container .user_menu>div {
    all: unset;
    height: calc(150px / 3);
}

.user_menu .profile_link {
    display: flex;

    .avatar {
        border: none;
    }
}

.avatar-container:hover .user-menu {
    display: grid;
    justify-content: center;
}

.aside>nav {
    display: flex;
    flex-direction: column;
}



.bg-Primary {
    background-color: var(--color-primary);
    color: var(--color-dark-navy);
    border: solid var(--color-dark-navy);
}



/** Forms styling  */

/** posts and post cards styling  */
.post_card {
    margin: auto;
    margin-bottom: 2rem;
    max-width: 800px;
    width: 80%;
    min-width: 300px;
    padding: 2rem 1rem;
    background-color: var();
    border-bottom: solid 1px var(--color-dark-navy);
}

.post_header {
    /* border: solid; */
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 2rem;
}

.post_creator_info_container {
    display: flex;
    gap: 10px;
    /* align-items: center; */
}

.post_meta_data {
    text-align: center;
    flex-grow: 1;

    h2 {
        margin-bottom: 10px;
    }
}

.tags_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: end; */
    gap: 10px;
}

.tag {
    width: max-content;
    border: dashed 1px;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.tag:hover {
    border-color: var(--color-primary);
}

.post_body {
    p {
        width: 90%;
        margin: auto;
        /* border: solid red; */
        text-indent: 20px;
        text-align: justify;
    }

    /* padding:5% 10%; */
}

.post_footer {
    display: flex;
    margin-top: 2rem;
}

#comment_form_container {
    border: none;
    color: var(--color-light);
    background-color: var(--color-dark-navy);
    height: 200px;
    max-width: 800px;
    width: 80%;
    min-width: 300px;
    margin-inline: auto;
    position: fixed;
    top: calc(100% - 250px);
    transform: translateX(150px);
}

#comment_form_container form {
    height: 100%;
    padding: 1rem;
    display: grid;
    gap: 20px;
    grid-template-rows: auto max-content;
}

#comment_form_container .form-grp {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

#comment_form_container textarea {
    resize: none;
    flex-grow: 1;
    padding: 1rem;
    color: var(--bg-color-light-gray);
    background-color: var(--color-dark-navy);
}

.form-actions {
    margin-left: auto;
}

#comment_form_container .form-actions button {
    padding: 10px 32px;
    color: var(--color-light);
    border: solid var(--color-light) 2px;
}

#comment_form_container .form-actions button[type="submit"] {
    background-color: var(--color-light);
    color: var(--color-dark-navy);
}

.reactions_container {
    display: flex;
    gap: 25px;
}

.reaction_container button {
    /* position: absolute; */
    /* margin: auto; */
    background-color: transparent;
    bottom: 0;
}

.reaction_container {
    /* background-color: var(--color-dark-navy); */
    /* border: solid red; */
    width: max-content;
    position: relative;
    /* border: solid red 1px; */
}

.reaction_icon {
    fill: var(--bg-color-light-gray);
}

.reaction_icon:hover {
    fill: var(--color-primary);
    cursor: pointer;
}

.reaction_container p {
    position: absolute;
    font-size: 14px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    justify-content: center;
    display: grid;
    align-items: center;
    top: 40%;
    left: 70%;
}

/** Responsive Design */
@media (max-width: 576px) {
    .post_header {
        gap: 0;
        /* border: solid red; */
        flex-direction: column;
    }

    .post_header .post_creator_info_container .post_creator_info {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 980px) {
    .main {
        grid-column: 1/3;
    }
}


/* @media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }  */